<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		<p>by <%= link_to @blog_post.user.username, user_posts_path(id: @blog_post.user.id) %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>	
	<div class="panel-footer"> 
		<% if current_user == @blog_post.user %>
			<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-warning btn-sm" %>
		<% end %>
	</div>
</div>
	
<p>
	<ul>
		<% @blog_post.comments.each do |comment| %>
			<li>
				<p>On <%=  comment.created_at.stamp("Sunday, May 1, 2000 at 3:00 AM") %>, <strong><%= link_to comment.user.username, user_profile_path(id: comment.user.id) %></strong> said: </p>
				<p><%= comment.comment_entry %></p>
			</li>
		<% end %>
	</ul>
</p>
		
<div class="panel panel-success">
	<div class="panel-heading">
		Leave a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>





 

<%= link_to 'Back to Blog Listing', blog_posts_path, class: "btn btn-primary btn-sm" %>






